#ifndef CORELOOKUPTABLE_CONFIG
#define CORELOOKUPTABLE_CONFIG

#define	CoreLookUpTable_StoreTableInProgramMemory

//User Can Define 4-Bit, 8-Bit Look Up Table Enable State Here or BEFORE Including This Module Using Below Code

//#ifndef	CoreLookUpTable_Enable4BitLookUpTable
//	#define	CoreLookUpTable_Enable4BitLookUpTable
//#endif

//#ifndef	CoreLookUpTable_Enable8BitLookUpTable
//	#define	CoreLookUpTable_Enable8BitLookUpTable
//#endif

#endif
