#ifndef UART_CONFIG
#define	UART_CONFIG

#include "../../Core/CoreBasicTypeDefine.h"

#if defined(Uart_TwoSerialPortDevice)
	//Uart 0 Setting
	//#define	Uart_Uart0Device
	//#define	Uart_Uart0BaudRate	115200
	//#define	Uart_Uart0RXCompleteInterruptEnable
	//#define	Uart_Uart0TXCompleteInterruptEnable
	//#define	Uart_Uart0DataRegisterEmptyInterruptEnalbe
	//#define	Uart_Uart0ReceiverEnable
	//#define	Uart_Uart0TransmitterEnable
	//#define	Uart_Uart0SynchronousMode				//Did Not Define Mean Asynchronous Mode
	
	//#define	Uart_Uart0EvenParityMode			//Select Parity Mode Undefine Both Mean Disable Parity
	//#define	Uart_Uart0OddParityMode
	
	//#define	Uart_Uart02StopBit						//Did Not Define Mean 1 Stop Bit
	
	//#define	Uart_Uart05BitCharacterBit			//Select Transmit Character Size
	//#define	Uart_Uart06BitCharacterBit
	//#define	Uart_Uart07BitCharacterBit
	#define	Uart_Uart08BitCharacterBit
	//#define	Uart_Uart09BitCharacterBit

	#define	Uart_Uart0ClockPolarityTransmitRising

	//Uart 1 Setting
	#define	Uart_Uart1Device
	#define	Uart_Uart1BaudRate	19200
	#define	Uart_Uart1RXCompleteInterruptEnable
	//#define	Uart_Uart1TXCompleteInterruptEnable
	//#define	Uart_Uart1DataRegisterEmptyInterruptEnalbe
	#define	Uart_Uart1ReceiverEnable
	#define	Uart_Uart1TransmitterEnable
	//#define	Uart_Uart1SynchronousMode				//Did Not Define Mean Asynchronous Mode

	//#define	Uart_Uart1EvenParityMode			//Select Parity Mode Undefine Both Mean Disable Parity
	//#define	Uart_Uart1OddParityMode
	
	//#define	Uart_Uart12StopBit						//Did Not Define Mean 1 Stop Bit

	//#define	Uart_Uart15BitCharacterBit			//Select Transmit Character Size
	//#define	Uart_Uart16BitCharacterBit
	//#define	Uart_Uart17BitCharacterBit
	#define	Uart_Uart18BitCharacterBit
	//#define	Uart_Uart19BitCharacterBit

	//#define	Uart_Uart1ClockPolarityTransmitRising
#endif

#endif
