#ifndef COREMEMORY_CONFIG
#define	COREMEMORY_CONFIG

//Define External Memory Size in Byte
//#define	CoreMemory_ExternalMemorySize	32768	//32K
#define	CoreMemory_ExternalMemorySize	30
#define	CoreMemory_SpaceQuantity		10

//#define CoreMemory_UseExternalMemory
typedef Data_2Byte	CoreMemory_Size;

#endif
