#ifndef COREMEMORY_CONFIG
#define	COREMEMORY_CONFIG

//Define External Memory Size in Byte
//#define	CoreMemory_ExternalMemorySize	32768	//32K
#define	CoreMemory_ExternalMemorySize	30000
//#define	CoreMemory_ExternalMemorySize	300

//#define CoreMemory_UseExternalMemory
typedef Data_4Byte	CoreMemory_Size;
typedef	Data_1Byte	CoreMemory_StorageSpaceID;

#endif
