#ifndef CORESCHEDULER_CONFIG
#define CORESCHEDULER_CONFIG

#include "../CoreBasicTypeDefine.h"

#define CoreScheduler_Level						1
#define	CoreScheduler_JobCapability				4
//#define	CoreScheduler_QueueCapability			100
#define	CoreScheduler_MaximumQueueItemQuantrty	10

#if defined(CoreScheduler_Level) && CoreScheduler_Level <= 4
	typedef Data_1Byte CoreScheduler_JobID;
#else
	typedef Data_4Byte CoreScheduler_JobID;
#endif

#endif
