#ifndef CORESCHEDULER_CONFIG
#define CORESCHEDULER_CONFIG

#include "../CoreBasicTypeDefine.h"

//CoreScheduler_Level 可以設成 1、2、3，工作容量分別為 4、32、256
#define CoreScheduler_Level						3
#define	CoreScheduler_MaximumQueueItemQuantrty	100

//此參數控制 Core Scheduler 是否要檢查重複觸發，檢查重複觸發將會付出較高的時間成本。
#define	CoreScheduler_CheckRetrig

//以下部份請勿修改！
#if CoreScheduler_Level == 1
	#define	CoreScheduler_JobTreeLeafQuantity	1
	#define	CoreScheduler_JobCapability			4
#elif CoreScheduler_Level == 2
	#define	CoreScheduler_JobTreeLeafQuantity	8
	#define	CoreScheduler_JobCapability			32
#elif CoreScheduler_Level == 3
	#define	CoreScheduler_JobTreeLeafQuantity	64
	#define	CoreScheduler_JobCapability			256
#endif

#if defined(CoreScheduler_Level) && CoreScheduler_Level <= 3
	typedef Data_1Byte CoreScheduler_JobID;
#else
	typedef Data_4Byte CoreScheduler_JobID;
#endif

#endif
